In [ ]:
import sqlite3

# Create a connection to the SQLite database (will create demo.db if it doesn't exist)
conn = sqlite3.connect('demo.db')

# Print success message and close connection
print("Database created successfully.")
conn.close()

In [ ]:
# Create SQLite engine
engine = create_engine('sqlite:///demo.db')

# Reload the CSV file
df = pd.read_csv(r'D:\Projects\Project_DSAI203\data\train.csv')

# Write the data into the database
df.to_sql('myData', con=engine, if_exists='replace', index=False)
print("Data reloaded into SQLite.")

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# Drop the table if it exists
cursor.execute("DROP TABLE IF EXISTS myData")

# Recreate the table with the correct schema
cursor.execute('''
CREATE TABLE myData (
    User_ID INTEGER,
    Product_ID TEXT,
    Gender TEXT,
    Age TEXT,
    Occupation INTEGER,
    City_Category TEXT,
    Stay_In_Current_City_Years TEXT,
    Marital_Status INTEGER,
    Product_Category_1 INTEGER,
    Product_Category_2 INTEGER,
    Product_Category_3 INTEGER,
    Purchase INTEGER
)
''')

# Commit changes and close connection
conn.commit()
print("Table schema fixed.")
conn.close()

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# Check the first few rows of data
cursor.execute("SELECT * FROM myData LIMIT 5")
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

conn.close()

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv(r'D:\Projects\Project_DSAI203\data\train.csv')

In [4]:
df['Product_Category_1'].fillna(-1, inplace=True)
df['Product_Category_2'].fillna(-1, inplace=True)
df['Product_Category_3'].fillna(-1, inplace=True)

C:\Users\zydoo\AppData\Local\Temp\ipykernel_22808\781277676.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_Category_1'].fillna(-1, inplace=True)
C:\Users\zydoo\AppData\Local\Temp\ipykernel_22808\781277676.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_Category_2'].fillna(-1, inplace=True)
C:\Users\zydoo\AppData\Local\Temp\ipykernel_22808\781277676.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_Category_3'].fillna(-1, inplace=True)

In [5]:
df['Product_Category_1'] = df['Product_Category_2'].astype(int)
df['Product_Category_2'] = df['Product_Category_2'].astype(int)
df['Product_Category_3'] = df['Product_Category_3'].astype(int)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,-1,-1,-1,8370
1,1000001,P00248942,F,0-17,10,A,2,0,6,6,14,15200
2,1000001,P00087842,F,0-17,10,A,2,0,-1,-1,-1,1422
3,1000001,P00085442,F,0-17,10,A,2,0,14,14,-1,1057
4,1000002,P00285442,M,55+,16,C,4+,0,-1,-1,-1,7969

In [9]:
total_purchase  = df["Purchase"].sum()
total_purchase

np.int64(5095812742)

In [13]:
top_selling_product = df.groupby("Product_ID")["Purchase"].sum().idxmax()
top_selling_product

'P00025442'

In [15]:
total_customers = df["User_ID"].nunique()
total_customers

5891

In [20]:
returning_customers = df["User_ID"].value_counts().loc[lambda x: x > 1].count()
customer_retention_rate = (returning_customers / total_customers) * 100
customer_retention_rate

np.float64(100.0)

In [21]:
from fpdf import FPDF

# Initialize PDF
pdf = FPDF()
pdf.set_auto_page_break(auto=True, margin=15)

# Add Title Page
pdf.add_page()
pdf.set_font("Arial", size=16)
pdf.cell(200, 10, txt="Dashboard Project Report", ln=True, align='C')
pdf.cell(200, 10, txt="Generated by: [Your Name]", ln=True, align='C')
pdf.cell(200, 10, txt="Date: [Insert Date]", ln=True, align='C')

# Section (a): Project Information
pdf.add_page()
pdf.set_font("Arial", size=12)
pdf.cell(200, 10, txt="Project Overview", ln=True, align='L')
pdf.multi_cell(0, 10, txt="""
This project involves the creation of a dynamic dashboard to analyze purchase and customer data. 
The dashboard is developed using HTML, CSS, JavaScript, and Python (Flask). It includes interactive charts and key metrics.
Tools used:
- Python: For backend data processing
- JavaScript: For chart interactivity (AMCharts)
- Bootstrap: For responsive layout
""")

# Section (b): Individual Charts with Snapshots
pdf.add_page()
pdf.set_font("Arial", size=12)
pdf.cell(200, 10, txt="Charts", ln=True, align='L')
pdf.cell(200, 10, txt="1. Purchase by Age Group", ln=True, align='L')
pdf.image(r'C:\Users\zydoo\OneDrive\Pictures\Screenshots\Screenshot 2024-12-20 102129.png', x=10, y=30, w=190)  # Add your chart screenshot file
pdf.cell(200, 100, txt="2. Average Purchases by Gender", ln=True, align='L')
pdf.image("chart_gender_avg.png", x=10, y=140, w=190)

# Section (c): Complete Layout Snapshot
pdf.add_page()
pdf.cell(200, 10, txt="Complete Dashboard Layout", ln=True, align='L')
pdf.image("dashboard_layout.png", x=10, y=30, w=190)

# Section (d): Source Code
pdf.add_page()
pdf.cell(200, 10, txt="Source Code", ln=True, align='L')
with open("server.py", "r") as code_file:
    pdf.set_font("Courier", size=8)
    for line in code_file:
        pdf.multi_cell(0, 5, txt=line)

# Section (e): Dataset Snapshot
pdf.add_page()
pdf.cell(200, 10, txt="Dataset Snapshot", ln=True, align='L')
pdf.set_font("Courier", size=10)
df_snapshot = df.head(10).to_string()  # Use Pandas to get a snapshot of the dataset
pdf.multi_cell(0, 10, txt=df_snapshot)

# Section (f): Suggested Future Work
pdf.add_page()
pdf.set_font("Arial", size=12)
pdf.cell(200, 10, txt="Suggested Future Work", ln=True, align='L')
pdf.multi_cell(0, 10, txt="""
1. Implement predictive analytics to forecast future trends in purchases.
2. Add more interactivity to charts, such as drill-down capabilities.
3. Include additional key performance indicators (KPIs) like profit margin or average purchase value.
4. Improve application scalability for larger datasets.
""")

# Save PDF
pdf.output("Dashboard_Project_Report.pdf")

FileNotFoundError: [Errno 2] No such file or directory: 'chart_age_group.png'